@import '../../../vars.scss';

.danger-button {
    min-width: 75px;
    padding: calc(4/7 * 1em);
    background-color: $danger-bg;
    font-size: 1em;
    color: $text-color-1;
    border-radius: 5px;
    box-shadow: $shadow-2;
    transition: .3s ease-in-out;

    &:hover {
        opacity: .9;
    }
}