@import '../../../vars.scss';

.login-form {
    h1 {
        font-size: 24px;
        font-weight: 300;
        color: $nav-bg;
        margin-bottom: 65px;
    }

    .form__box {
        margin-bottom: 35px;
    }
}

.link {
    display: block;
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

@keyframes anim-err{
    0% {
        letter-spacing: 0.5px;
    }
    30% {
        letter-spacing: 1.5px;
    }
    90% {
        letter-spacing: 0.3px;
    }
    100% {
        letter-spacing: 0.5px;
    }
}

.error {
    display: block;
    width: 100%;
    color: $error;
    opacity: 0;
    transition: .3s;
    text-align: center;
    margin: 10px 0;
    letter-spacing: 0.5px;
    animation: anim-err 1s 2s infinite ease-in-out;

    &_visible {
        opacity: 1;
    }
}