@import '../../../vars.scss';

.toggler-title {
    margin: 0;
    margin-right: 15px;
    font-weight: 300;
    color: $text-color-5;
    transition: .2s ease-in-out;
    margin-bottom: 20px;

    &__visible {
        color: $text-color-6;
    }
}