@import '../../../vars.scss';

.titled-box {
    background-color: #fff;
    padding: 15px;
    
    &__title {
        font-size: 32px;
        font-weight: 300;
        text-align: center;   
        color: $text-color-7;
        margin-bottom: 60px;
    }

    .row {
        .post-card {
            margin: 20px 10px;
        }    
    }
}