@import '../../vars.scss';

.user-short-info {
    padding: 30px 10px 20px;
    margin-bottom: 20px;
    
    p {
        font-weight: 400;
        font-size: 16px;
        color: $text-color-1;
    }
}