@import '../../../vars.scss';

.settings-form {
    .form__box {
        max-width: 450px;
        label {
            width: 200px
        }
    }

    .drop-zone {
        width: 400px;
        height: calc(7/12*400px);

        img.empty {
            margin-top: 100px;
        }
    }

    &__box {
        width: fit-content;
        margin-bottom: 40px;
    }
    &__title {
        color: $text-color-3;
        font-size: 12px;
        margin: 15px;
    }
}