@import '../../../vars.scss';

.form__box {
    max-width: 320px;
    width: 100%;
    font-family: $main-font;
    font-size: 14px;
    box-shadow: $shadow;
    border-radius: 5px;
    margin-bottom: 20px;
    border: $border-2;

    label {
        display: block;
        padding: 13px 20px;
        min-width: 110px;
        text-align: center;
        border-right: $border-2;
        color: $text-color-2;
        transition: .2s ease-in-out;
    }

    input {
        border: none;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;

        &:focus {
            outline: none;
            & + label {
                color: $text-color-3;
                min-width: 95px;
            }
        }
    }

}