@import '../../../vars.scss';

.hint-box {
    height: max-content;
    color: $text-color-5;
    border-left: $border-3;
    padding: 0;
    padding-left: 50px;
    font-size: 14px;
    transition: .2s ease-in-out;
    
    &:hover {
        color: $text-color-6;
    }
}