@import '../../../vars.scss';

.error-box {
    width: 100%;
    padding: 10px;
    background-color: $error-bg;
    border-radius: 5px;
    border: 1px solid $error;
    box-shadow: $shadow-2;
    margin-bottom: 15px;

    &__message {
        margin: 0;
        color: $error;
    }
}