@import '../../../vars.scss';

.tag {
	font-size: 13px;
	font-weight: 400;
	padding: 5px;
	margin: 0 5px 0 0;
	background-color: $text-color-6;
	border-radius: 5px;
	color: $text-color-1;

	&__violet {
		background-color: $nav-bg;
	}
}
