@import './vars.scss';

* {
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

@mixin direction($direction) {
    .#{$direction} {
        display: flex;
        flex-direction: $direction;

        &_w-nw {
            flex-wrap: nowrap;
        }

        &_w-w {
            flex-wrap: wrap;
        }

        &_jc-c {
            justify-content: center;
        }

        &_jc-sb {
            justify-content: space-between;
        }

        &_jc-sa {
            justify-content: space-around;
        }

        &_ai-c {
            align-items: center;
        }

        &_ai-fs {
            align-items: flex-start;
        }

        &_ai-fe {
            align-items: flex-end;
        }
    }
}

@include direction(row);
@include direction(column);
@include direction(row-reverse);

.button {
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
}