@import './vars.scss';

* {
    box-sizing: border-box;
}

@mixin direction($direction) {
    .#{$direction} {
        display: flex;
        flex-direction: $direction;

        &_w-nw {
            flex-wrap: nowrap;
        }

        &_w-w {
            flex-wrap: wrap;
        }

        &_jc-c {
            justify-content: center;
        }

        &_js-sb {
            justify-content: space-between;
        }

        &_js-sa {
            justify-content: space-around;
        }

        &_ai-c {
            align-items: center;
        }

        &_ai-fs {
            align-items: flex-start;
        }

        &_ai-fe {
            align-items: flex-end;
        }
    }
}

@include direction(row);
@include direction(column);
@include direction(row-reverse);

.button {
    display: block;
    border: none;
    cursor: pointer;
}