@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: "Chicago";
    src: url('./assets/public/fonts/ChicagoFLF.ttf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: "Libre Baskerville";
    font-weight: 400;
    src: url('./assets/public/fonts/LibreBaskerville-Regular.ttf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: "Libre Baskerville";
    font-weight: 700;
    src: url('./assets/public/fonts/LibreBaskerville-Bold.ttf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    src: url('./assets/public/fonts/OpenSans-Regular.ttf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 700;
    src: url('./assets/public/fonts/OpenSans-Bold.ttf') format('opentype');
    font-display: swap;
}

:root {
    --scroll-track: #e7e7e7;
    --scroll-thumb: #d0d0d0;
    --public-font: "Libre Baskerville", sans-serif;
    --public-font-2: "Open Sans", sans-serif;
    --color-1: #1C1C1C;
}

.App.dark {
    background-color: #52555c;
    min-height: 100vh;
    color: #fff;

    --scroll-track: #464e55;
    --scroll-thumb: #373e44;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--scroll-track);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 10px;
}
