@import './vars.scss';

* {
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

@mixin direction($direction) {
    .#{$direction} {
        display: flex;
        flex-direction: $direction;

        &_w-nw {
            flex-wrap: nowrap;
        }

        &_w-w {
            flex-wrap: wrap;
        }

        &_jc-c {
            justify-content: center;
        }

        &_jc-sb {
            justify-content: space-between;
        }

        &_jc-sa {
            justify-content: space-around;
        }

        &_ai-c {
            align-items: center;
        }

        &_ai-fs {
            align-items: flex-start;
        }

        &_ai-fe {
            align-items: flex-end;
        }
    }
}

@include direction(row);
@include direction(column);
@include direction(row-reverse);

.button {
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}
    
  /* Track */
  ::-webkit-scrollbar-track {
    background: $text-color-4;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $text-color-2;
    transition: .3s ease-in-out;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $text-color-3;
  }