.image-loader-form {
    width: 100%;
    padding: 20px;

    .drop-zone {
        max-width: 250px;
        min-height: 150px;
        width: 100%;
        margin-bottom: 40px;

        
        img.empty {
            margin-top: 55px;
        }
    }
    
    .image-loader-title {
        margin-bottom: 20px;
    }

    .button { 
        max-width: 250px;
        width: 100%;
    }
}